@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background var(--change-theme-duration);
  color: var(--color-text-main);
  font-family: 'SF Pro Display', sans-serif;
}

span,
p {
  font-weight: 800;
  opacity: 60%;
  font-size: 10px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-gap);

  gap: 30px;
  padding: 30px;
  width: 100%;
  height: 100vh;

  background: var(--app-background-color);
}
